# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE's Specials folders
*.vs
*.vsc
*.idea

# CMake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
/cmake/

# Make
Makefile

# Rust
Cargo.lock
*/target/
*/rm-1

# Sublime Text
*.sublime-project
*.sublime-workspace

# Other
README.html

# Ninja
build.ninja
.ninja_deps
.ninja_log

# Emscriptem
index.js
index.wasm
client.js
client.wasm

# Editor
*/demo/
gamebook/web/clientV0.3.data
*/*.data

# Debug
*.pdb
gamebook/cmake/compile_commands.json

# Clang
**/.cache/clangd/index

# Siging
*.cer
